---
import Layout from "../layouts/Layout.astro";
---

<Layout centered="true">
  <h1>Über uns</h1>

  <p>
    Wir sind eine Gemeinschaft von Sulzbachern die sich für die Zukunft der
    Erneuerbaren Energien und die Umwelt in der Sulzbacher Gemeinde
    interessieren und einsetzten.
  </p>
  <p>Gegründet 2011 in Sulzbach am Taunus</p>
</Layout>

<style>
  h1 {
    text-align: center;
  }
</style>
