---

---

<h1>Willkommen auf unserer Webseite</h1>

<h2>
  Bei uns dreht sich alles um Erneuerbare Energien und die Umwelt in der
  Sulzbacher Gemeinde.
</h2>

<h3>
  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Repudiandae
  laboriosam deleniti beatae impedit ab consectetur illo doloribus, cum ipsa
  iure vero doloremque accusamus aliquid ex quibusdam tenetur ad nihil quia?
</h3>

<style>
  h1,
  h2,
  h3 {
    text-align: center;
  }

  .a {
    container-type: inline-size;
    @container (min-width: 322px) {
      .b {
        background-color: aqua;
      }
      .c {
        background-color: red;
      }
    }

    @container (max-width: 322px) {
      .b {
        background-color: red;
      }
      .c {
        background-color: aqua;
      }
    }
  }

  .b {
    width: 100px;
    height: 100px;
  }

  .c {
    width: 100px;
    height: 100px;
  }
</style>
