---

---

<h1>Willkommen auf unserer Webseite</h1>

<style>
  h1 {
    text-align: center;
  }

  .a {
    container-type: inline-size;
    @container (min-width: 322px) {
      .b {
        background-color: aqua;
      }
      .c {
        background-color: red;
      }
    }

    @container (max-width: 322px) {
      .b {
        background-color: red;
      }
      .c {
        background-color: aqua;
      }
    }
  }

  .b {
    width: 100px;
    height: 100px;
  }

  .c {
    width: 100px;
    height: 100px;
  }
</style>
