---

---

<h1>Willkommen auf unserer Webseite</h1>

<h2>
  Bei uns dreht sich alles um erneuerbare Energien und die Umwelt in der
  Sulzbacher Gemeinde.
</h2>

<style>
  h1,
  h2,
  h3 {
    text-align: var(--heading-alignment, center);
  }
</style>
