:root {
  --background-color: light-dark(white, black);

  --primary-color: #008bcc;
  --secondary-color: #0088c7d2;
  --border-color: #0088c7d2;

  --primary-text-color: var(--secondary-color);
  --highlight-color: var(--primary-color);

  --nav-item-background-hover-color: var(--primary-text-color);
  --nav-item-text-color-hover-color: light-dark(black, white);

  --small-text-color: light-dark(black, white);
}
