:root {
  --primary-color: #0088c7;
  --secondary-color: #0088c7d2;

  --primary-text-color: var(--secondary-color);
  --highlight-color: var(--primary-color);

  --nav-item-background-hover-color: var(--primary-text-color);
  --nav-item-text-color-hover-color: white;
}
