@import url("colors.css");

:root {
  color-scheme: light dark;

  --inline-padding: 16px;
  --block-padding: 8px;

  header,
  main,
  footer {
    padding: var(--block-padding) var(--inline-padding);
  }

  h1,
  h2,
  h3 {
    color: var(--primary-text-color);
  }

  a,
  h4,
  h5,
  h6 {
    color: var(--small-text-color);
  }

  *:focus-visible {
    outline: 5px solid var(--highlight-color);
    outline-offset: 3px;
  }

  .link-button {
    width: max-content;
    height: max-content;
    padding: 8px 16px;
    font-weight: bold;
    border: 1px solid var(--border-color);
    overflow-wrap: anywhere;

    &:hover {
      background-color: var(--primary-color);
      color: black;
    }
  }
}
