---
import "../colors.css";
import "../global.css";
import Nav from "../components/Nav.astro";
import { Image } from "astro:assets";
import AeeLogo from "../assets/aee_logo.svg";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />

    <title>Astro Basics</title>
  </head>
  <body>
    <header>
      <Image class="aee-logo" src={AeeLogo} alt="" />
      <Nav />
    </header>
    <main>
      <slot />
    </main>
    <footer><p>&copy; {new Date().getFullYear()} Stefan Geiger</p></footer>
  </body>
</html>

<style>
  .nav-container {
    display: flex;
    justify-content: end;
  }
  .hello {
    position: absolute;
    background-color: red;
    top: 80px;
    width: 100px;
    height: 100px;
  }
</style>

<style>
  html,
  body {
    container-type: inline-size;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    --header-grid-columns: min-content auto;
    --header-justify-nav-container: end;
    @container (max-width: 521px) {
      header {
        --header-grid-columns: auto;
        --header-justify-nav-container: start;
      }
    }
  }

  header {
    display: grid;
    grid-template-columns: var(--header-grid-columns);

    .nav-container {
      justify-items: var(--header-justify-nav-container);
    }

    .aee-logo {
      height: 72px;
      width: fit-content;
    }
  }

  main {
    flex: 1;
  }
</style>

<style>
  body {
  }
</style>
